/* Sidebar */
.sidebar {
    max-width: 320px;
    min-width: 320px;
}

.sidebar .brand {
    background-color: #212529cc;
    color: white;
}

.sidebar .nav-link {
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

main {
    transition: 0.3s all ease;
}

/* Free drawing */
label {
    display: inline-block;
    width: 160px;
}

.info {
    display: inline-block;
    width: 25px;
    background: #ffc;
}


/* Controls customization */
#setControlVisible {
    margin-top: -10px;
}

#setControlVisible input {
    margin: 0;
}