/* Sidebar */
.sidebar {
    max-width: 250px;
    min-width: 250px;
}

.sidebar .brand {
    background-color: #0d6efdc9;
    color: white;
}

.sidebar .nav-link {
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
}

main {
    transition: 0.3s all ease;
}

/* Free drawing */

#drawing-mode {
    margin-bottom: 10px;
    vertical-align: top;
}

#drawing-mode-options {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f5f2f0;
    padding: 10px;
}

label {
    display: inline-block;
    width: 130px;
}

.info {
    display: inline-block;
    width: 25px;
    background: #ffc;
}

#bd-wrapper {
    min-width: 1500px;
}


/* Controls customization */
#setControlVisible {
    margin-top: -10px;
}

#setControlVisible input {
    margin: 0;
}